<section class="Datos personales">
            <h2>Información de contacto</h2>
            <div class="Tel">
              <img src="img/tel.png" alt="Icono telefono">
            <p>Teléfono: 95371550</p>
            </div>
  
            <div class="Correo">
              <img src="img/email.png" alt="Icono correro">
            <p>Teléfono: Kimtrg2004@gmail.com</p>
            </div>
            
</section>